.footer {
  padding: 20px;
}
.navbar-brand {
  margin-left: -5px !important;
}
.navbar-brand a {
  font-weight: bolder;
  color: black;
}
.navbar-brand a:hover {
  color: black;
}
.navbar-brand > .navbar-item {
  background: #EFEFEF;
  margin: 5px;
  border-radius: 5px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 0px !important;
  margin-top: 10px;
}
.navbar-brand > .navbar-item:hover {
  background: #EFEFEF !important;
}

.body {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 600px;
}

table {
  width: 100%;
}
th, td {
  padding: 5px;
  border: 1px solid #EEE;
}
.home {
  text-align: center;
  padding: 100px;
}
