{% extends "../layouts/base.html" %}

{% block title %} Sign In {% endblock %}

{% block content %}
<div class="account">
  <h1 class="title is-1">Products</h1>
  <table>
    <tr>
      <th>Name</th><th>Price</th><th></th>
    </tr>
    {% for product in products %}
    <tr>
      <td>{{ product.Name }}</td>
      <td>{{ product.Price }}</td>
      <td>
        <a href="/products/{{product.ID}}">Show</a>
        &nbsp;
        <a href="/products/{{product.ID}}/edit">Edit</a>
        &nbsp;
        <a href="/products/{{product.ID}}">Destory</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <a href="/products/new">New product</a>
</div>
{% endblock %}
